{% extends 'base.html' %}
{% block title %} Создание поста {% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      {% if request.resolver_match.view_name  == 'posts:edit_post' %}
        <h1>Редактирование поста</h1>
      {% else %}
        <h1>Создание поста</h1>
      {% endif %}
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
          {% if request.resolver_match.view_name  == 'posts:edit_post' %}
            Изменить
          {% else %}
            Создать
          {% endif %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


<div class="col d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      создать или изменить
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
          <label for="id_text">Текст поста:</label>
          <textarea name="text" maxlength="500" required id="id_text"></textarea>
        </p>
        <p>
          <select name="category" class="form-select" id="{{ form.category.id_for_label }}">
            <option selected disabled>Выберите категорию</option>
            {{ form.group }}
        </select>
        </p>
        <button type="submit" class="btn btn-primary">
            Создать
        </button>
      </form>
    </div>
  </div>
</div>