<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Дем4</title>
</head>
<body>
  <p><a href="{% url 'start:ono-tebe-nado' %}">1 работа ОНО ТЕБЕ НАДО</a></p>
  <p><a href="{% url 'start:posmotri_v_okno' %}">2 работа ПОСМОТРИ В ОКНО</a></p>
  <p><a href="{% url 'start:slozhno-sosredotochitsya' %}">3 работа СЛОЖНО СОСРЕДОТОЧИТЬСЯ</a></p>
  <p><a href="{% url 'start:zakrivayuschiy-teg-f' %}">4 работа ЗАКРИВАЮЩИЙ ТЕГ F</a></p>
  <p><a href="{% url 'start:mesto' %}">5 работа МЕСТО</a></p>
  <p><a href="{% url 'start:web-larek' %}">6 работа WEB-LARЁK</a></p>
  <p><a href="{% url 'start:blog-customizer' %}">7 работа БЛОГ-Кастомизатор(React состояния)</a></p>
  <p><a href="{% url 'start:stellar-burger' %}">8 работа Бургерная</a></p>

</body>
</html>