<!doctype html>
<html lang="ru>
{% load static %}
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Document</title>
        <script defer="defer" src="{% static 'blog-customizer/scripts/main.cf4fffc84c215b4a49e5.js' %}"></script>
        <link href="{% static 'blog-customizer/styles/main.f217eb2e59d9aa7c70cc.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>