<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
  <meta property="og:site_name" content="Демчак — Резюме">
  <meta property="og:url" content="https://демчак-резюме.рф">
  <meta property="og:title" content="показываю">
  <meta property="og:description" content="сделаль, чтобы показывать будущему работодателю">
  <meta property="og:image" content="https://демчак-резюме.рф/static/images/preview.jpg">
  <meta property="og:image:width" content="639">
  <meta property="og:image:height" content="642">
  <meta property="og:image:alt" content="Я любимый">
  <meta property="og:type" content="website">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Дем4</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'><text y='0.9em' font-size='90'>💻</text></svg>">
</head>
<body>
  <header class="header">
    <nav>
      <a href="/" class="logo">dem4</a>
      <div class="nav-links">
        <a href="#projects">Проекты</a>
        <!-- <a href="#about">Обо мне</a> -->
        <a href="#contact">Контакты</a>
      </div>
    </nav>
  </header>

  <main class="main">
    <div class="hero">
      <h1>Привет, я Роман 👋</h1>
      <p>
        Я — <strong>fullstack-разработчик</strong>,  
        пишу на <strong>Python</strong>, строю сайты на <strong>Django</strong>,  
        верстаю, кастомлю и люблю, когда всё работает.
      </p>
    </div>
    
    <hr class="divider">
    
    <div id="about" class="section">
      <h2>Что я умею</h2>
      <ul class="skills">
        <li>Python</li>
        <li>Django</li>
        <li>HTML & CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>Git</li>
        <li>PostgreSQL</li>
        <li>Docker</li>
        <li>NginX</li>
      </ul>
    </div>
    
    <hr class="divider">
    
    <section id="contact" class="section">
      <h2>Хочешь связаться?</h2>
      <div class="contact">
        <a href="mailto:demchakromka@gmail.com" class="btn btn-small">Написать на почту</a>
        <a href="https://t.me/juniorrf" class="btn btn-small">Написать в Telegram</a>
      </div>
    </section>

    <section id="projects" class="section">
      <h2 class="projects-title">
        ФронтЭнд проекты
      </h2>
      <ul class="projects__list">
        <li class="project">
          <a href="{% url 'start:ono-tebe-nado' %}">
            <img class="project__img" src="{% static 'images/ono-tebe-nado.png' %}" alt="1 работа ОНО ТЕБЕ НАДО">
          </a>
          <div class="project__description">
            <h3 class="project__name">ОНО ТЕБЕ НАДО</h3>
            <p class="project__text">практика в разметке и расположени элементов на странице</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:posmotri_v_okno' %}">
            <img class="project__img" src="{% static 'images/posmotri-v-okno.png' %}" alt="2 работа ПОСМОТРИ В ОКНО">
          </a>
          <div class="project__description">
            <h3 class="project__name">ПОСМОТРИ В ОКНО</h3>
            <p class="project__text">практика iframe и псевдоэлементы</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:slozhno-sosredotochitsya' %}">
            <img class="project__img" src="{% static 'images/slozhno-sosredotochitsya.png' %}" alt="3 работа СЛОЖНО СОСРЕДОТОЧИТЬСЯ">
          </a>
          <div class="project__description">
            <h3 class="project__name">СЛОЖНО СОСРЕДОТОЧИТЬСЯ</h3>
            <p class="project__text">CSS-переменные,  единицы измерения и функции расчётов, адаптивная вёрстка</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:zakrivayuschiy-teg-f' %}">
            <img class="project__img" src="{% static 'images/zakrivayuschiy-teg-f.png' %}" alt="4 работа ЗАКРИВАЮЩИЙ ТЕГ F">
          </a>
          <div class="project__description">
            <h3 class="project__name">ЗАКРИВАЮЩИЙ ТЕГ F</h3>
            <p class="project__text">SVG, анимации, декорирование, градиенты</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:mesto' %}">
            <img class="project__img" src="{% static 'images/mesto.png' %}" alt="5 работа МЕСТО">
          </a>
          <div class="project__description">
            <h3 class="project__name">МЕСТО</h3>
            <p class="project__text">JavaScript. API. Сборка кода и модульность. Валидация форм.</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:web-larek' %}">
            <img class="project__img" src="{% static 'images/web-larek.png' %}" alt="6 работа WEB-LARЁK">
          </a>
          <div class="project__description">
            <h3 class="project__name">WEB-LARЁK</h3>
            <p class="project__text">TypeScript. OOП. Архитектура приложения</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:blog-customizer' %}">
            <img class="project__img" src="{% static 'images/blog-customizer.png' %}" alt="7 работа БЛОГ-Кастомизатор(React)">
          </a>
          <div class="project__description">
            <h3 class="project__name">БЛОГ-Кастомизатор</h3>
            <p class="project__text">React. Хуки useState useEffect useRef. Кастомные хуки</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:stellar-burger' %}">
            <img class="project__img" src="{% static 'images/burger.png' %}" alt="8 работа Бургерная(React)">
          </a>
          <div class="project__description">
            <h3 class="project__name">Космическая бургерная</h3>
            <p class="project__text">React. React Router. Redux. Toolkit: Slice & Use. Тестирование React приложений: Jest, Cypress</p>
          </div>
        </li>
        <li class="project">
          <a href="{% url 'start:anna' %}">
            <img class="project__img" src="{% static 'images/fuck.jpg' %}" alt="для души">
          </a>
          <div class="project__description">
            <h3 class="project__name">Не забыть возраст Анютки</h3>
            <p class="project__text">HTML CSS JavaScript</p>
          </div>
        </li>
      </ul>
      </section>

      <section id="projects" class="section">
        <h2 class="projects-title">
          БэкЭнд проекты
        </h2>
        <ul class="projects__list">
          <li class="project">
            <a href="{% url 'posts:homepage' %}">
              <img class="project__img" src="{% static 'images/yatube.png' %}" alt="YaTube">
            </a>
            <div class="project__description">
              <h3 class="project__name">YaTube</h3>
              <p class="project__text">Базы данных, шаблоны HTML</p>
            </div>
          </li>
        </ul>
        </section>
  </main>
  <footer class="footer">
    <p>Сделано с ❤️ и несколькими print()</p>
  </footer>

  
  
  <!-- <script src="{% static 'homepage.js' %}"></script> -->
</body>
</html>