<!DOCTYPE html> 
<html lang="ru">  
{% load static %}
<head>
  <meta property="og:site_name" content="Это тебе, мой сладкий">
  <meta property="og:url" content="https://демчак-резюме.рф/xyi">
  <meta property="og:title" content="Как тебе?">
  <meta property="og:description" content="Лизнёшь? Лизни, хорошенько">
  <meta property="og:image" content="https://демчак-резюме.рф/static/images/xyi.png">
  <meta property="og:image:width" content="613">
  <meta property="og:image:height" content="442">
  <meta property="og:image:alt" content="xyi:info">
  <meta property="og:type" content="website">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анютка</title>
</head>

<body>
    <h1>Ничего нет</h1>

</body>
</html>