<!DOCTYPE html> 
<html lang="ru">  
{% load static %}
<head>
  <meta property="og:site_name" content="Демчак — Анна">
  <meta property="og:url" content="https://демчак-резюме.рф/anna">
  <meta property="og:title" content="ДР">
  <meta property="og:description" content="Считаем возраст">
  <meta property="og:image" content="https://демчак-резюме.рф/static/images/fuck.jpg">
  <meta property="og:image:width" content="532">
  <meta property="og:image:height" content="726">
  <meta property="og:image:alt" content="Мой пирожочек">
  <meta property="og:type" content="website">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/fav/anna.ico' %}">
  <title>Анютка</title>
</head>

<body>
    <h1>Ничего нет</h1>

</body>
</html>